*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

#placesearch_wrap {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search_header {
        width: 100%;
        height: 58px;
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid #c6c6c6;
        background-color: #fff;

        .back_btn {
            position: absolute;
            left: 21px;
            background: none;
            border: none;
            cursor: pointer;
        }

        p {
            margin: 0;
            width: 100%;
            text-align: center;
            font-size: 20px;
        }
    }

    .search_detail {
        width: 100%;
        padding: 0 16px;
        margin: 27px auto 0;

        .search_box {
            width: 100%;
            height: 40px;
            background-color: #F4F4F5;
            border-radius: 12px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: center;
            align-items: center;

            .input_wrap {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0 12px;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }

                input {
                    flex: 1;
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 12px;
                }
            }
        }

        .example {
            width: 100%;
            max-width: 100%;
            margin: 27px auto 0;
            text-align: left;
            margin-left: 15px;

            p {
                font-size: 12px;
                color: #858282;
                word-break: keep-all;
            }
        }
    }
}