body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

#routemake_wrap {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .details {
        margin: 149px 26px;

        .title,
        .recommend {
            p {
                font-size: 12px;
            }

            .input_box {
                width: 100%;
                height: 39px;
                margin-top: 13px;
                border: 1px solid #C6C6C6;
                border-radius: 8px;
                display: flex;
                align-items: center;

                input {
                    width: 100%;
                    height: 100%;
                    padding-left: 20px;
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 12px;
                }
            }
        }

        .recommend,
        .keyword,
        .visit {
            margin-top: 30px;
        }

        .keyword {
            p {
                font-size: 12px;
            }

            .input_box {
                width: 100%;
                height: 39px;
                margin-top: 13px;
                border: 1px solid #C6C6C6;
                border-radius: 8px;
                display: flex;
                align-items: center;

                .hash {
                    margin-left: 20px;
                    font-size: 12px;
                    color: #000;
                }

                input {
                    flex: 1;
                    height: 100%;
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 12px;
                    color: #000;
                    padding-left: 6px;
                }
            }

        }

        .visit {
            p {
                font-size: 12px;
            }

            .box {
                display: flex;
                gap: 16px;
                width: 323px;

                .input_box1 {
                    width: 100%;
                    height: 39px;
                    margin-top: 13px;
                    border: 1px solid #C6C6C6;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    flex: 0 0 135px;
                    max-width: 135px;

                    input {
                        width: 100%;
                        height: 100%;
                        padding-left: 104px;
                        border: none;
                        outline: none;
                        background: transparent;
                        font-size: 12px;
                    }
                }

                .input_box2 {
                    width: 100%;
                    height: 39px;
                    margin-top: 13px;
                    border: 1px solid #C6C6C6;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    flex: 0 0 78px;
                    max-width: 78px;

                    input {
                        width: 100%;
                        height: 100%;
                        padding-left: 47px;
                        border: none;
                        outline: none;
                        background: transparent;
                        font-size: 12px;
                    }
                }
            }
        }

        .next {
            width: 100%;
            height: 46px;
            background-color: #F9D769;
            border-radius: 8px;
            margin-top: 60px;

            p {
                text-align: center;
            }
        }
    }
}