@import "tailwindcss";

.font-titan {
  font-family: "Titan One", cursive !important;
}

@theme {
  /* Colors */
  --color-white: #ffffff;
  --color-pink: #fe5081;
  --color-orange: #fe9a35;
  --color-green: #2cca6e;
  --color-yellow: #f9d769;
  --color-blue: #417ff9;
  --color-gray: #858282;
  --color-black: #000000;
  --color-bg: #c6c6c6;
  --color-shadow: #444444;
  --color-bgwht: #f4f4f5;

  /* Radius */
  --radius-full: 999px;
  --radius-xl: 16px;
  --radius-l: 12px;
  --radius-m: 8px;
  --radius-s: 4px;

  /* Spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-margin: 16px;
  --spacing-gutter: 20px;

  /* Font Sizes, Weights, Line Heights */
  --font-extrabold: 800 28px/33.6px "SUITE Variable", sans-serif;
  --font-semibold: 600 24px/28.8px "SUITE Variable", sans-serif;
  --font-regular: 400 20px/24px "SUITE Variable", sans-serif;
  --font-semibold-s: 600 16px/19.2px "SUITE Variable", sans-serif;
  --font-regular-s: 400 12px/14.4px "SUITE Variable", sans-serif;
  --font-small: 400 8px/9.6px "SUITE Variable", sans-serif;
}

@layer utilities {
  .typo-extrabold {
    font: var(--font-extrabold);
  }
  .typo-semibold {
    font: var(--font-semibold);
  }
  .typo-regular {
    font: var(--font-regular);
  }
  .typo-semibold-s {
    font: var(--font-semibold-s);
  }
  .typo-regular-s {
    font: var(--font-regular-s);
  }
  .typo-small {
    font: var(--font-small);
  }
}

html,
body {
  font-family: "SUITE Variable", sans-serif;
}
